<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ourteam.css">
    <link rel="stylesheet" href="buttonourteam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/0d5b5086fb.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav style="position: absolute;" class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">Megalith '23</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/event">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/workshop">Workshop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sponsors">Sponsors</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/theme">Theme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="ourteam">
        <div class="rightalign">

        </div>
        <div class="leftalign">
            
        </div>
        <button class="glow-on-hover leftalign hodb">Head of Department</button>
        <button class="glow-on-hover rightalign chairmanb">Chairman</button>
        <button class="glow-on-hover leftalign vicepresidentb">Vice-President</button>
        <button class="glow-on-hover rightalign treasurerb">Treasurer</button>
        <button class="glow-on-hover leftalign executiveb">Executive Advisor</button>
        <button class="glow-on-hover rightalign coordinatorb">Coordinator</button>
        <button class="glow-on-hover leftalign webb">Web Team</button>
        <button class="glow-on-hover rightalign designb">Design Team</button>
        <button class="glow-on-hover leftalign publicityb">Publicity Team</button>
        <button class="glow-on-hover rightalign eventb">Events Team</button>
        <button class="glow-on-hover leftalign sponsb">Sponsorship and Marketing Team</button>
        <button class="glow-on-hover rightalign logisticb">Logistics Team</button>
    </div>
    <div class="teamcontainer">
        <div id="hodm" class=" hodm ">
            <div class="slider">
                <div class="slide cardnew">
                    <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                </div>
            </div>
        </div>
        <div id="chairmanm" class=" chairmanm">
            <div class="slider">
                <div class="slide cardnew">
                    <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                </div>
            </div>
        </div>
        <div id="vicepresidentm" class=" vicepresidentm">
            <div class="slider">
                <div class="slide cardnew">
                    <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                </div>
            </div>
        </div>
        <div id="treasurerm" class=" treasurerm">
            <div class="slider">
                <div class="slide cardnew">
                    <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                </div>
            </div>
        </div>
        <div id="executivem" class=" executivem">
            <div class="slider">
                <div class="slide cardnew">
                    <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                </div>
            </div>
        </div>
        <div id="coordinatorm" class=" coordinatorm">
            <div class="slider">
                <div class="slide-track slide-trackct">
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="slide-track slide-trackcb">
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="webm" class=" webm">
            <div class="slider">
                <div class="slide-track slide-trackwt">
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
            
                    <!-- ================================================ -->
        
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="slide-track slide-trackwb">
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                </div>
            </div>    
        </div>
        <div id="designm" class=" designm">
            <div class="slider">
                <div class="slide-track slide-trackdt">
                    <div class=" slide cardnew visibledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide cardnew visibledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide cardnew visibledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class=" slide cardnew disabledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide cardnew disabledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide cardnew disabledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                </div>
            </div>    
            <div class="slider">
                <div class="slide-track slide-trackdb">
                    <div class=" slide cardnew visibledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide cardnew visibledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide cardnew visibledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class=" slide cardnew disabledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide cardnew disabledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide cardnew disabledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                </div>
            </div>    
        </div>
        <div id=" publicitym " class="  publicitym ">
            <div class="slider">
                <div class="slide-track slide-trackpt">
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                </div>
            </div>   
            <div class="slider">
                <div class="slide-track slide-trackpb">
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide cardnew">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                </div>
            </div>   
        </div>
        <div id="eventm" class=" eventm">
    
        </div>
        <div id="sponsm" class=" sponsm">
    
        <div id="logisticm" class=" logisticm">
        
        </div>
    </div>
    <script src="ourteam.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>
</html>